body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cat {
  height: 100vh;
  background: url('../images/pisos-cat.jpg') no-repeat center center fixed;
  background-size: cover;
}